/* styles.css */
.cinzel-bold-header {
  @apply font-cinzel;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* styles.css or a similar stylesheet if needed */
.hidden-navbar {
  transform: translateY(-120%);
}

