.hexagon-slider {
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto;
    perspective: 1000px;
    display: flex; 
    justify-content: center;
    align-items: center;
  }
  
  .hexagon-container {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
 
  }
  
  .hexagon {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center; 
    border-radius: 5px;
    /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
  }
  
  .face-0 { transform: rotateY(0deg) translateZ(600px); }
  .face-1 { transform: rotateY(30deg) translateZ(600px); }
  .face-2 { transform: rotateY(60deg) translateZ(600px); }
  .face-3 { transform: rotateY(90deg) translateZ(600px); }
  .face-4 { transform: rotateY(120deg) translateZ(600px); }
  .face-5 { transform: rotateY(150deg) translateZ(600px); }
  .face-6 { transform: rotateY(180deg) translateZ(600px); }
  .face-7 { transform: rotateY(210deg) translateZ(600px); }
  .face-8 { transform: rotateY(240deg) translateZ(600px); }
  .face-9 { transform: rotateY(270deg) translateZ(600px); }
  .face-10 { transform: rotateY(300deg) translateZ(600px); }
  .face-11 { transform: rotateY(330deg) translateZ(600px); }